<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const ROOM_ID = "<%= roomId %>"
        const roomName = "<%= roomName %>"
    </script>
    <script src="peerjs.min.js" defer></script>
    <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <title>Room</title>
    <style>
            body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
    }
        #video-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }
        #my-video-grid {
          display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-auto-rows: 300px;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div>
          <button id="qvga">QVGA</button>
          <button id="vga">VGA</button>
          <button id="hd">HD</button>
          <button id="full-hd">Full HD</button>
          <button id="share-screen">Share Your Screen</button>
        </div>    <div id="my-video-grid">

    </div>
    <div id="video-grid"></div>
    <div id="message-container"></div>
    <form id="send-container">
      <input type="text" id="message-input">
      <input type="file" id="file-input">
      <button type="submit" id="send-button">Send</button>
    </form>

    <!-- <div id="message-container"></div>
    <form id="send-container">
      <input type="text" id="message-input">
      <button type="submit" id="send-button">Send</button>
    </form> -->
</body>

</html>